
<%= simple_form_for(@father) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<<<<<<< HEAD

    <%= f.input :name %>

=======
    <%= f.input :name %>
>>>>>>> fb9d3fa020e8a158f593bad23e3346cbca95d500
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
