
<%= simple_form_for(@child) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :nome %>

  
    <%= f.association :Father, label_method: :nome, value_method: :id, include_blank: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
