
<%= simple_form_for(@child) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.association :father %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
