<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @child.nome %>
</p>

<p>
  <strong>Father:</strong>
<<<<<<< HEAD
  <%= @child.father.name %>
=======
  <%= @child.Father.name %>
>>>>>>> 8a82c7bc599d77b1cb01647ab6c3ab0cadef2483
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
